body {
  margin: 0;
}

#top {
  background-color: pink;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

#top h2 {
  margin: 0;
}

.nav ul {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
}