html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  color: #616161;
  /* background-color: #f5f4f4; */
  --webkit-font-smoothing: antialiased
}

p {
  line-height: 150%;
}

.section-div {
  width: 80%;
  margin: auto;
  /* background-size: cover; */
}

.color-1 {
  background-color: #f4f0f0;
}

.color-2 {
  background-color: #e9e2e2;
}

#top {
  /* height: 631px; */
  height: 100vh;
  width: 100%;
  text-align: center;
  background: 
    linear-gradient(rgba(130, 51, 91, 80%),
     rgba(248, 106, 177, 41%)),
    url('assets/backsplash-min.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#name {
  margin: 0;
  font-size: 50px;
}

#line {
  width: 150px;
  border: 3px solid pink;
  border-radius: 5px;
}

#title {
  margin: 0;
  font-size: 20px;
}

#top-display {
  text-align: center;
  width: 100%;
  color: white;
  position: relative;
  height: calc(100% - 50px);
}

#details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  margin-top: auto;
  height: 50px;
}

.nav-bar {
  list-style-type: none;
  padding: 0;
  margin:0;
  color: white;
  /* height: 100%; */
  height: 50px;
}

.nav-item {
  display: inline-block;
  height: 100%;
  line-height: 50px;
  cursor: pointer;
  margin-right: 10px;
}

.nav-item a {
  text-decoration: none;
  height: 93%;
  line-height: 50px;
  display: inline-block;
  color: white;
  margin-right: 10px;
}

.nav-item a:hover {
  color: pink;
}

.nav-item a.active {
  border-bottom: 3px solid pink;
  color: pink;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(137, 86, 115);
  /* background: 
  linear-gradient(rgba(248, 106, 177, 0.534), rgba(248, 106, 177, 0.363)),
   url(assets/backsplash.JPG);
    background-position-y: bottom; */
}

.sticky + .content {
  padding-top: 60px;
}

.main-display h3 {
  font-size: 30px;
}

.main-display section {
  padding-left: 40px;
  padding-right: 40px;
}

#about {
  display: grid;
  /* min-height: 100vh; */
  min-height: 600px;
  grid: [row1-start] "picture welcome" auto [row1-end]
        [row2-start] "picture about" auto [row2-end]
        [row3-start] "picture skills-title" auto [row3-end]
        [row4-start] "picture skills" auto [row4-end]
        / 1fr 3fr;
  align-content: center;
  column-gap: 20px;
  /* background-color: #f4f0f0; */
  padding-top: 20px;
  padding-bottom: 20px;
}

#about-welcome {
  grid-area: welcome;
  justify-self: center;
  align-self: end;
  margin: 0;
  color: rgb(137, 86, 115);
}

#about img {
  grid-area: picture;
  align-self: center;
  justify-self: center;
  /* border: grey double; */
}

#about-text {
  grid-area: about;
  align-self: start;
  margin: 0;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

#about-skills-title {
  grid-area: skills-title;
  justify-self: center;
  align-self: end;
  margin: 0;
  color: rgb(137, 86, 115);
}

#about-skills {
  grid-area: skills;
  margin: 0;
  justify-self: center;
  align-self: center;
}

#projects {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* min-height: 90vh; */
  min-height: 500px;
  background-color: #e9e2e2;
}

#projects h3 {
  align-self: center;
  margin: 0;
  color: rgb(137, 86, 115);
  margin-bottom: 50px;
  margin-top: 50px;
}

.project-photos {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project {
  margin: 10px;
  width: fit-content;
  /* display: inline-block; */
}

.project-image {
  border: solid #d2d2d2 1px;
  border-radius: 5px;
}

.project-image:hover {
  box-shadow: rgb(137, 86, 115) 3px 3px 1px;
  cursor: pointer;
}

.project p {
  /* font-size: 20px; */
  margin: 0;
  padding: 0;
  /* font-weight: 600; */
  color: grey;
}

.caption {
  text-align: center
}

.caption h4 {
  margin: 0;
  margin-top: 10px;
}

.caption p {
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, .5);
}

.modal-content {
  background-color: #f4f0f0;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  margin: 2% auto;
  width: 90%;
  height: 90%;
  position: relative;
  /* display: flex;  */
  /* flex-direction: column;
  justify-content: space-between; */
  /* align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; */
}

.modal-button {
  position: absolute;
  right: 10px;
  border-radius: 5px;
  background-color: #f4f0f0;
  cursor: pointer;
  border: none;
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
}

.modal-button img {
  height: 25px;
}

.modal-video {
  margin: 50px;
  border: none;
}

.modal-project-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
  /* margin-bottom: 5%; */
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.modal-project-desc p {
  margin: 0;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

#blog {
  display: flex;
  flex-direction: column;
  /* min-height: 90vh; */
  min-height: 550px;
  background-color: #f4f0f0;
  /* justify-content: center; */
}

#blog h3 {
  align-self: center;
  color: rgb(137, 86, 115);
  margin: 0;
  margin-bottom: 50px;
  margin-top: 50px;
}

.blog-posts-area {
  display: grid;
  align-self: center;
  width: fit-content;
  /* justify-content: space-between;
  flex-wrap: wrap; */
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  margin-bottom: 25px;
  row-gap: 20px;
}

.blog-post {
  /* display: flex;
  flex-direction: column; */
  /* width: 100%; */
  height: auto;
  /* text-align: center; */
  margin: 10px;
}

.blog-post-link {
  color: grey;
  text-decoration: none;
}

.blog-post-link:hover {
  color: rgb(137, 86, 115);
}

.blog-post-inner {
  display: grid;
  /* width: 100%; */
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
  grid-template-areas:
      "image title"
      "image text";
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  /* justify-items: start; */
}

.blog-post-image {
  border: solid #d2d2d2 1px;
  border-radius: 5px;
  height: 100px;
  width: 175px;
  grid-area: image;
  /* justify-self: center; */
  align-self: center;
}

.blog-post-inner h4 {
  /* font-size: 20px; */
  margin: 0;
  padding: 0;
  /* font-weight: 600; */
  grid-area: title;
}

.blog-post-inner p {
  /* font-size: 20px; */
  margin: 0;
  padding: 0;
  /* font-weight: 600; */
  grid-area: text;
}

.blog-link {
  align-self: center;
  margin-bottom: 50px;
}

.blog-link a {
  color: rgb(137, 86, 115);
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}

.blog-link a:hover {
  text-decoration: underline;
}

#contact {
  display: flex;
  flex-direction: column;
  /* min-height: 90vh; */
  min-height: 550px;
  background-color: #e9e2e2;
}

#contact h3 {
  align-self: center;
  color: rgb(137, 86, 115);
  margin: 0;
  margin-top: 50px;
  margin-bottom: 25px;
}

.contact-methods {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  width: 500px;
  height: 25px;
  border: 1px solid #e9e2e2;
  font-family: 'Mukta', sans-serif;
}

.contact-form textarea {
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  width: 500px;
  height: 75px;
  border: 1px solid #e9e2e2;
  font-family: 'Mukta', sans-serif;
}

.contact-form button {
  width: fit-content;
  background-color: rgb(137, 86, 115);
  color: #e9e2e2;
  border: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding: 7px;
  font-size: 17px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: rgb(94, 58, 78);
}